
  /*****************************************************************/
 /* kjgjhg                        MOBILE STYLES                         */
 /*****************************************************************/


@media screen and (max-width: 767px) {

   /*************************************************************/
  /*                           mobile ABOUT                    */
 /*************************************************************/

 	.section-title {
 		font-size: 1.0rem;
 		padding: 3% 0;
 	}

 	.about p {
 		font-size: 0.9rem;
 		font-weight: $extra-small-font-weight;
 		line-height: 2.5;
 	}

} /* media query mobile end */

  /****************************************/
 /*            TABLET STYLES             */
/****************************************/

@media screen and (min-width: 768px) {

  /*******************************************************************/
 /*                               ABOUT                             */
/*******************************************************************/

.about {
	line-height: 1.5;
}

.about p {
	font-size: 1.2rem;
	font-weight: lighter;
} 


} /* TABLET END */


  /*********/
 /* ABOUT */
/*********/

.about {
	padding: 60px 0;

}



