

  /*****************************************************************/
 /*                         MOBILE STYLES                         */
 /*****************************************************************/


@media screen and (max-width: 767px) {

 

/****************************************************
 *                 mobile FEATURED                  *
 ****************************************************/
.owl-item.active {
	width: $full;
	display: flex;
	justify-content: center;
}

} /* media query mobile end */


  /************/
 /* FEATURED */
/************/

.owl-carousel {
	overflow-x: hidden;
}

.owl-item.active {
	max-width: $quarter;
}

.featured {
	margin-top: 50px;
	overflow-x: hidden;
	/*max-height: 20vh;*/
}

.slider {
	overflow-x: hidden;
}

.ctg-type {
	/*height: auto;*/
	font-size: 0.9rem;
}


.item-name{
	margin: 10px 0;
}


.quickView {
	width: 50%;
	margin: 20% 25%;
	padding: 50px;
	border: 1px solid black;
	z-index: 101;
	position: fixed;
	display: none;
	background: white;
	-webkit-transform: translateZ(0)
}

