
// Fonts
$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'Roboto', sans-serif;

// Colours
$white: #fff;
$off-white: #fafafa;
$black: #373737;
$red: #ff0000;
$burnt-red: #ff0f0f;
$grey: #646464;

$green: rgb(0, 100, 0);

// Weights
$extra-small-font-weight: 300;
$small-font-weight: 400;
$medium-font-weight: 500;
$large-font-weight: 700;

// Widths
$full: 100%;
$half: 50%;
$third: 33%;
$quarter: 25%;


// Media Query Values:

$mobile: 'screen and (max-width: 767px)';
$tablet: 'screen and (min-width: 768px)';
$desktop: 'screen and (mind-width: 1240px)';




